{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header class="border">
      <a href="{% url 'home' %}">IPL</a>
    </header>

    <div class="navigation">
      <a href="{% url 'problem1-output' %}"> <p>MatchesPlayedPerYear</p></a>
      <a href="{% url 'problem2-output' %}"> <p>MatchesWon</p></a>
      <a href="{% url 'problem3-output' %}"> <p>ExtraRun</p></a>
      <a href="{% url 'problem4-output' %}"> <p>Top10Bowler</p></a>
    </div>

    <section>{% block output %}{% endblock output %}</section>
  </body>
</html>
